<%- include('layout/header') %>
<%- include('layout/nav') %> 
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <!--Root nya di folder public/-->
                <img class="img-thumbnail py-3" src="/img/me.jpg" alt="Irvan Hardyanto">
                <h1>Irvan Hardyanto</h1>
                <p>Student</p>
            </div>
        </div>

    </div>
</div>
<%- include('layout/footer') %> 